body {
    background-color: #33adff;
    text-align: center;
}

h1 {
    margin: 25px;
    padding: 10px;
}

button {
    margin: 20px;
    padding: 10px;
}

table {
    margin: auto;
    background-color: #ffff80;
    border: solid black 3px;
}

td,th {
    border: solid black 1px;
    padding: 5px;
}

